@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');





body{
    background-image:url(ungarn-pecs-map.jpg) ;
    color:green;
    font-family:"Montserrat", sans-serif;
    text-align: center;
    font-size: larger;
    font-weight: 700;
}
div{
    color:blue;
}

